In [1]:
import pandas as pd

In [8]:
df=pd.read_csv('weather_data.csv',parse_dates=['Day'],date_format='%m%d%y')

In [9]:
df

        Day  temperature  windspeed     event
0  01/01/17         32.0        9.0      Rain
1  01/04/17     -99999.0        9.0     Sunny
2  01/05/17         28.0   -88888.0      Snow
3  01/06/17     -99999.0        7.0  no_event
4  01/07/17         32.0   -99999.0      Rain
5  01/08/17     -99999.0        NaN     Sunny
6  01/09/17          NaN   -88888.0  no_event
7  01/10/17         34.0        8.0    Cloudy
8  01/11/17         40.0       12.0     Sunny

In [12]:
type(df.Day[0])

str